<robot name="bp8">
	<link name="_name">
		<visual>
			<origin rpy="0 0 0" xyz="0.0003363238218503267 0.003175007735682764 -0.001711484956952946" />
			<geometry>
				<mesh filename="bp8.obj" scale="0.001 0.001 0.001" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="bp8_vhacd.obj" scale="0.001 0.001 0.001" />
			</geometry>
		<origin rpy="0 0 0" xyz="0.0003363238218503267 0.003175007735682764 -0.001711484956952946" /></collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>