<robot name="bp9">
	<link name="_name">
		<visual>
			<origin rpy="0 0 0" xyz="0.0007885982240434662 0.006036924710227773 0.002279635478842521" />
			<geometry>
				<mesh filename="bp9.obj" scale="0.001 0.001 0.001" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="bp9_vhacd.obj" scale="0.001 0.001 0.001" />
			</geometry>
		<origin rpy="0 0 0" xyz="0.0007885982240434662 0.006036924710227773 0.002279635478842521" /></collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>