<robot name="feelie5">
	<link name="_name">
		<visual>
			<origin rpy="0 0 0" xyz="-0.0012916264940924646 0.0024015503953664524 0.002781413048833167" />
			<geometry>
				<mesh filename="feelie5.obj" scale="0.001 0.001 0.001" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="feelie5_vhacd.obj" scale="0.001 0.001 0.001" />
			</geometry>
		<origin rpy="0 0 0" xyz="-0.0012916264940924646 0.0024015503953664524 0.002781413048833167" /></collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>